# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Editors
.vscode/
.idea/
*.swp

# Node
node_modules/
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment & secrets
.env
.env.*
!.env.example

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# Build output
dist/
build/
.cache/
.vercel
.env*
!.env.example
